.wp-block-create-block-blockinfo {

	&.is-style-squared {
		border-radius: 0 !important;
	}

	&.is-style-rounded {
		border-radius: 7px !important;
	}

	&.has-shadow {
		box-shadow: 0 0 20px rgba(0, 0, 0, 0.3) !important;

		&.shadow-opacity-10 {
			box-shadow: 0 0 20px rgba(0, 0, 0, 0.1) !important;
		}

		&.shadow-opacity-20 {
			box-shadow: 0 0 20px rgba(0, 0, 0, 0.2) !important;
		}

		&.shadow-opacity-30 {
			box-shadow: 0 0 20px rgba(0, 0, 0, 0.3) !important;
		}

		&.shadow-opacity-40 {
			box-shadow: 0 0 20px rgba(0, 0, 0, 0.4) !important;
		}
	}

	.block-info-align-right {
		text-align: right;
	}

	.block-info-align-center {
		text-align: center;
	}

	.block-info-align-left {
		text-align: left;
	}

	&.block-info-wrapper {
		display: flex;
		align-items: center;
		gap: 8px;
		margin-top: 15px;
		margin-bottom: 15px;
	}

	.block-info-title {
		margin: 0;
		flex-grow: 1;
	}

	span {
		font-size: inherit;
		width: auto;
		height: auto;
	}
}
